<!--
/*
File name:about.ejs
Student name: Gagandeep kaur
Student id: 301144458
Date: 03-10-2021
*/

-->

<%- include partials/header.ejs %> 

 <%- include partials/main_nav.ejs %> 
  <!--Main Content-->
  <main>
  <div class="p-5 text-center bg-light">
    <h3><%=title %> Page</h3>
    <p><strong>Gagandeep Kaur</strong></p>
    <ul class="list-unstyled">
    <li>  My name is Gagandeep Kaur. Currently, I am a student. I am pursuing a Software Engineering Course at Centennial College.
           I love to learn about new technologies.</li>
  <li><a class="btn btn-link" href="/Assests/images/Gaganresumecentennial 1.pdf" role="Button">Resume</a></li>
</ul>
    <img src="/Assests/images/me.jpg" class="img-rounded" alt="Photo" style="width:30%">
    
  </div>
  </main>
  <%- include partials/bottom_nav %> 
 <%- include partials/footer.ejs %> 
   











